[user]
	email = gaspar_pm@proton.me
	name = GasparVardanyan

[init]
	defaultBranch = master

[interactive]
	diffFilter = delta --color-only

[add.interactive]
	useBuiltin = false # required for git 2.37.0

[delta]
	syntax-theme = Solarized (dark)
	navigate = true
	light = false
	line-numbers=true
	; side-by-side=true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[core]
	pager = delta --line-numbers --hyperlinks --hyperlinks-file-link-format="lazygit-edit://{path}:{line}"

[alias]
	cb = branch --show-current
	fpush = push --force-with-lease
	grog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
	; addRefsToBare = "!f() { [ '' != \"$1\" ] && git config \"remote.$1.fetch\" \"+refs/heads/*:refs/remotes/$1/*\"; }; f"
	addRefsToBare = config remote.origin.fetch "+refs/heads/*:refs/remotes/origin/*"
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[safe]
	directory = /media
	directory = /media/music
	directory = /media/music/music
	directory = /media
	directory = /media/solarized
