*foreground:                  #d0d0d0
*background:                  #000000
!*background:                  #222222
*cursorColor:                 #ffffff
*color0:                      #010008
!*color0:                      #1E1E1E
*color8:                      #1C1C1C
!*color8:                      #373737
*color1:                      #A71B1A
*color9:                      #BF3130
*color2:                      #3B8526
*color10:                     #58A642
*color3:                      #E49202
*color11:                     #FFB026
*color4:                      #1D576D
*color12:                     #31788E
*color5:                      #97219C
*color13:                     #A7248C
*color6:                      #24866F
*color14:                     #37A48D
*color7:                      #B5AD64
*color15:                     #CEC67D

! # include ".urxvt/config"

xterm*termName:               xterm-256color
xterm*decTerminalID:          vt340
xterm*VT340*geometry:         80x24
xterm*faceName:               xft:Hack:size=12
xterm*faceSize:               10
xterm*renderFont:             true
xterm*utf8:                   always
xterm*utf8Title:              true
xterm*locale:                 true
xterm*cursorColor:            #d40000
xterm*cursorBlink:            false
xterm*selectToClipboard:      true
xterm*SaveLines:              10000
xterm*transparent:            true
xterm*background:             black
xterm*foreground:             red
